<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


<servlet>
<servlet-name>HelloServlet</servlet-name>
<servlet-class>fr.pizzeria.admin.web.HelloServlet</servlet-class> 
</servlet>

<servlet>
<servlet-name>ServletPizza</servlet-name>
<servlet-class>fr.pizzeria.admin.web.ServletListePizza</servlet-class> 
</servlet>

<servlet>
<servlet-name>ListerPizzaController</servlet-name>
<servlet-class>fr.pizzeria.admin.web.ListerPizzaController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ServletPizza</servlet-name>
    <url-pattern>/api/servlet/pizzas</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>ListerPizzaController</servlet-name>
    <url-pattern>/pizzas/list</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>EditerPizzaController</servlet-name>
    <url-pattern>/pizzas/edit</url-pattern>
</servlet-mapping>
</web-app>